{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "react",
        "react-hooks"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-reccomended"
    ],
    "rules": {
        "brace-style": [
            "error",
            "allman",
            {
                "allowSingleLine": true
            }
        ]
    }
}
